# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"


#Sql Connection

#set mysql_connection_string “mysql://admin:Echo2@localhost/essentialmode?dateStrings=true”

set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=admin;password=Echo2"
set es_enableCustomData 1

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

start mysql-async
start async

# These resources will start by default.
#Base Resources Loaded
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start playernames

## START sESX ADD ##

start essentialmode
start esplugin_mysql
start es_admin2
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start sesx_assets
start esx_status
start esx_customui
## END sESX ADD ##

## ESX base needed loaded before others load ##
## every thing loaded here is going to the [esx] folder ##
start esx_datastore
start skinchanger
start cron
start esx_society
start esx_billing
start esx_phone
start esx_service
start esx_basicneeds

start esx_addoninventory
start esx_addonaccount
start esx_identity


##  ESX Addons ##
start esx_skin
start esx_license
start esx_joblisting
start esx_weaponshop
start esx_vehicleshop
start esx_jobsonline
start esx_atm
start esx_rpchat

## ESX game events 
start esx_holdup


## ESX jobs
start esx_jobs
start esx_policejob
start esx_ambulancejob
start esx_taxijob
start esx_drugs





# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
#rcon_password changeme

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "DEV ECON"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "Zwink's DEV SERVER (RSRP)"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
#set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true


# Server player slot limit (must be between 1 and 32)
sv_maxclients 32

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey tr600jbdoimdqu0256yz7dpe2bnvamp0


 

restart sessionmanager